# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List commonly used Data Science Tools
- Perform basic arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFLow
2. NumPy
3. SciPy
4. Panda

| Data Science Tools |
| - |
| Jupyter Notebook |
| ApacheSpark |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Author
Jay